
* {
font-family: 'Mochiy Pop P One', sans-serif;
color:darkblue;
}


body h1,
h2 {
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 280px;
    height: 580px;
    background-color: #A9D0F5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 0.8rem;
    }

.lista-participantes.selectall {
    padding-left:25%;
}

#start {
    margin-top: 15px;
    border-radius: 10px;
    padding: 5px, 40px 5px 40px;
    background-color: cornflowerblue;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#reset {
    margin-top: 30px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: cornflowerblue;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}