h1 {

}

main {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
  
    }



.card {
    width: 280px;
    height: 560px;
    background-color:#A9D0F5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 18px;

}

.images {
    width:200px;
    height: 200px;
}